@font-face {
    font-family: 'Roboto';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.artist_label {
	height: 30px;
	width: 500px;
	position: absolute;
	color: #fff;
	display:none;
}

.rickshaw_graph .detail {
	background: none !important;
}

#band_names {
	height: 30px;
	width: 150px;
	position: absolute;
	color: #fff;
}

.artist {
	border: 1px solid black;
}

.center_block{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#box_1{
	width: 1100px;
	padding: 10px 20px;
	text-align: center;
}

#graph_options {
	width:1100px;
	text-align:left;
}

#graph_options, #box_1, #loading, #box_2, #edit_canvas, #errors, #sharing_options, #share_preload{
	-webkit-transition:all 0.6s ease-in-out;  
    -moz-transition:all 0.6s ease-in-out;
    transition:all 0.6s ease-in-out;
    overflow:hidden;
}

#box_2 {
	width: 900px;
	font: 18px sans-serif;
	padding: 25px 0px;
	text-align: center;
}

#plays {
	width: 35px;
}
#width, #height {
	width: 55px;
}

#ex1 img {
	padding-left: 75px;
	padding-right: 75px;
}

#start_date, #end_date {
	width: 150px;
}

#loading {
	color: #35586C;
    font-family: "Lucida Sans Unicode";
    text-align: center;
    width: 1100px;
}

#menu{
	list-style-type: none;
	width:800px;
	display: block;
	text-align: justify;
	margin-top:15px;
	margin-bottom: 50px;
}

#menu:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#menu a{
	font-family: "Lucida Sans Unicode";
	font-size: 25px;
}

#svg{
	background-color: #000;
}

ul.thumbnails {
	width:1100px;
}

#data, #display, #aesthetics {
	height:326px;
	width:326px;
	float:left;
	margin-left:20px;
	margin-right: 2px;
}
#aesthetics input[type=text] {
	width:100px;
	height:30px;

}

#data, #display {
	border-right: 1px solid #000;
}

div.unshown {
	max-height:0px !important;
	padding: 0 !important;
}
div.shown {
    max-height: 1100px;
}

#progressbar {
	width: 600px;
	margin: 0 auto;
}

#errors {
	width: 600px;
}

#font-color {
	height:30px;
}

#lastwave {
	border: 4px solid #008CBA;
	margin-left:auto;
	margin-right:auto;
}

.dropdown-menu {
	width:100%;
}

#imgur_data input {
	height:60px;
	width:400px;
	font-size:25px;
}

#imgur_data {
	margin-top:20px;
}

#gallery img {
	width: auto;
	height: 120px;
}

#gallery span {
	display: inline-block;
    width: 240px;
    overflow: hidden;
    border: 4px solid #008CBA;
    margin-left:30px;
    margin-right:30px;
}
#gallery_container {
	max-width: 1200px;
}

#gallery {
    text-align:justify;
    position:absolute;
    left:100px;
    width:900px;
    display:inline-block;
    height:500px;
}

#gallery_nav_left,#gallery_nav_right {
	display:inline-block;
	width:100px;
	position:absolute;
	top:140px;
}

#gallery_nav_left img,#gallery_nav_right img {
	opacity:0.5;
	-webkit-transition:all 0.3s ease-in-out;  
    -moz-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

#gallery_nav_left img:hover, #gallery_nav_right img:hover{
	cursor: pointer;
	opacity:1;
}

#gallery_nav_left {
	left:0px;
}

#gallery_nav_right {
	right:0px;
}

#gallery_container {
	width:1100px;
	position:relative;
}

#page_content {
	width:1100px;
	text-align:center;
}
#donate {
	text-align:center;
	width:900px;
}
#donate input {
	padding:0px;
}
#donate form {
	width: 200px;
	display:inline;
}
.COINWIDGETCOM_CONTAINER {
	position:relative;
	bottom:7px;
}

#page_content ul {
	text-align:left;
	list-style: none;
}
#page_content ul li {
	font-weight:bold;
}
#page_content ul ul li {
	font-weight:normal;
}