.artist_label {
	height: 30px;
	width: 500px;
	position: absolute;
	color: #fff;
	display:none;
}

.rickshaw_graph .detail {
	background: none !important;
}

#band_names {
	height: 30px;
	width: 150px;
	position: absolute;
	color: #fff;
}

.artist {
	border: 1px solid black;
}

.center_block{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#box_1 {
	width: 500px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #000;
	font: 18px sans-serif;
}

#box_2 {
	height: 120px;
	width: 500px;
	border: 1px solid #000;
	font: 18px sans-serif;
	display: none;
}

#plays {
	width: 25px;
}
#width, #height {
	width: 40px;
}

.size_8 {
	font: 8px Secrcode, arial;
}
.size_10 {
	font: 30px Secrcode, arial;
}
.size_12{
	font: px Secrcode, arial;
}
.size_14 {
	font: px Secrcode, arial;
}
.size_16 {
	font: px Secrcode, arial;
}
.size_18 {
	font: px Secrcode, arial;
}.size_20 {
	font: px Secrcode, arial;
}
.size_22 {
	font: px Secrcode, arial;
}
.size_24 {
	font: px Secrcode, arial;
}
.size_26 {
	font: px Secrcode, arial;
}
.size_28 {
	font: px Secrcode, arial;
}
.size_30 {
	font: px Secrcode, arial;
}

#ex1 img {
	padding-left: 75px;
	padding-right: 75px;
}

#start_date, #end_date {
	width: 150px;
}

#loading {
	color: #35586C;
    font-family: "Lucida Sans Unicode";
    text-align: center;
}