.artist_label {
	height: 30px;
	width: 500px;
	position: absolute;
	color: #fff;
	display:none;
}

.rickshaw_graph .detail {
	background: none !important;
}

#band_names {
	height: 30px;
	width: 150px;
	position: absolute;
	color: #fff;
}

.artist {
	border: 1px solid black;
}