.artist_label {
	height: 30px;
	width: 500px;
	position: absolute;
	color: #fff;
	display:none;
}

.rickshaw_graph .detail {
	background: none !important;
}

#band_names {
	height: 30px;
	width: 150px;
	position: absolute;
	color: #fff;
}

.artist {
	border: 1px solid black;
}

.center_block{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#left_box {
	height: 300px;
	width: 500px;
	border: 1px solid #000;
	font: 18px sans-serif;
}